@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

:root {
  --clr-dark: #1f2937;
  --clr-light: #3882f6;
  --clr-off-white-1: #f9faf8;
  --clr-off-white-2: #e5e7eb;
}

body {
  font-family: Roboto, Arial, sans-serif;
  
  margin: 0;
  padding: 0;
}

.header,
.hero,
.random-info-container,
.quote-container,
.call-to-action {
  padding-left: 125px;
  padding-right: 125px;
}

.header {
  display: flex;
  align-items: center;
}

.header ul {
  margin-left: auto;

  display: flex;
  gap: 20px;
}

.header-logo {
  color: var(--clr-off-white-1, #f9faf8);
  font-size: 24px;
  font-weight: bold;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: var(--clr-off-white-1, #f9faf8);
}

.hero {
  padding-top: 40px;
  padding-bottom: 40px;
  
  display: flex;
  gap: 50px;
}

.hero img {
  border-radius: 5px;

  max-width: 500px;
}

.hero-text p {
  font-size: 18px;
}

li a,
.hero-text p,
.footer {
  color: var(--clr-off-white-2, #e5e7eb);
}

.header,
.hero,
.footer {
  background-color: var(--clr-dark, #1f2937);
}

.hero a,
.call-to-action-container a {
  color: var(--clr-off-white-1, #f9faf8);
  font-weight: bold;
  background-color: var(--clr-light, #3882f6);
  
  border: none;
  border-radius: 5px;
  
  padding: 10px 30px;
}

h2 {
  color: var(--clr-dark, #1f2937);
  font-size: 36px;
  font-weight: 900;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.cards img {
  border: 3px var(--clr-light, #3882f6) solid;
  border-radius: 10px;
}

.cards p {
  text-align: center;
}

.cards p,
.cards img {
  max-width: 250px;
}

.quote-container {
  background-color: var(--clr-off-white-2, #e5e7eb);
}

.quote {
  color: var(--clr-dark, #1f2937);
  font-size: 36px;
  font-style: italic;

  padding-top: 100px;
  margin-bottom: 10;
}

.quote-person {
  color: var(--clr-dark, #1f2937);
  font-size: 26px;
  font-weight: bold;
  text-align: right;

  padding-bottom: 100px;
  margin-top: 0;
}

.call-to-action {
  padding-top: 75px;
  padding-bottom: 75px;
}

.call-to-action-container {
  color: var(--clr-off-white-1, #f9faf8);
  background-color: var(--clr-light, #3882f6);
  
  border-radius: 7px;
  
  padding-top: 50px;
  padding-bottom: 50px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#call-to-action-heading {
  color: var(--clr-off-white-1, #f9faf8);
  font-size: 24px;
  font-weight: 900;

  padding: 0;
  margin: 0;
}

#call-to-action-content {
  color: var(--clr-off-white-2, #e5e7eb);

  padding: 0;
  margin: 0;
}

.call-to-action-container a {
  font-weight: bold;
  
  border: 2px var(--clr-off-white-1, #f9faf8) solid;

  padding: 10px 30px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.footer {
  font-size: 14px;
  text-align: center;

  padding-top: 20px;
  padding-bottom: 20px;
}